/* GreenAces logo */

#GreenAcesNavbarBrand img {
  display: block;
  margin-right: right;

  width: 120px;
  height: 49px;

}

#GreenAces-logo1{

  width: 318px;
  height: 200px;

}

#GreenAces-logo2{

  width: 318px;
  height: 200px;

}

#GreenAces-logo3{

  width: 318px;
  height: 200px;

}






/*carousel -- container 2 of 3 */


.carousel-item {

  width: 416px;
  height: 297px;
  background: #D7CCC8;
  color: white;
  position: relative;
  background-position: center;
  background-size:cover;


}

.container {
  
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding-bottom: 800px;

}

.overlay-image {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
}



/*the column menu that holds everything*/

#column1{


}

#column2{


}

#column3{


}

#column4{


}

#column5{


}


#column6{


}

#column7{


}


#column8{


}

#column9{


}


#column10{


}

#column11{


}

#column12{


}

#column13{


}

#column14{


}
