/* This css file is soley for pokemon.html
additional information can be found here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div */



.statusLayoutProgress{
  width: 276px;
  height: 98px;


}



.statusLayoutProgress2{
  width: 276px;
  height: 98px;

}




.statusLayoutProgress3{
  width: 276px;
  height: 98px;

}





/*
update progress bar style here

*/

         /* progress bar for player1 HP*/

         .player1HP-progressBarBackground{
           background: black;
           padding: 3px;
           width: 100px;
         }

          .player1HP {
            width:100px;height:10px;
            background-color: #A6EDED;
            width: 0px;
           }


       /* speedbar for player1 */
          .playerSpeed-progressBarBackground{
          background: black;
          padding: 3px;
          width: 100px;
          }

          .playerSpeed {
              width:10px;height:10px;
              background-color: #A6EDED;
              width: 0px;
            }




            /* progress bar for computer HP*/

            .cpuHP-progressBarBackground{
              background: black;
              padding: 3px;
              width: 100px;
              }

            .cpuHP {
                width:100px;height:10px;
                background-color: #A6EDED;
                width: 0px;
              }


          /* speedbar for computer */

            .cpuSpeed-progressBarBackground{
              background: black;
              padding: 3px;
              width: 100px;
              }


              .cpuSpeed {
                  width:100px;height:10px;
                  background-color: #A6EDED;
                  width: 0px;
                }




.Player1Status {

  width: 100px;
  height: 150px;
  max-width:450px

}




.Player1PokemonContainer{
  width: 100px;
  height: 150px;
  max-width:450px

}

#Player1PokeImage img {
  display: block;
  margin-right: right;

  width: 100%;
  height: 100%;

}

.AttackGraphicContainer{
  width: 25px;
  height: 25px;
  max-width:100px

}


#attack_graphic img {
  display: block;
  margin-right: right;

  width: 100%;
  height: 100%;


}


.pokemonLogoLayout{
  width: 120px;
  height: 51px;
  max-width:120px
}


/* pokemon logo */

#pokemon_logo{
  width: 286px;
  height: 107px;
  display:inline-block;

}


/* main navbar menu options */

#attack-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#defense-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#select-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#settings-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#hamburger-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}


/* main navbar sub-menu options */

.navbar41245 {
  overflow: hidden;
  background-color: #333;

  list-style: none;
  position:absolute;
  right:50%;
  margin-right:155px;
  margin-top:220px;


}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #6385FB;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #6385FB;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}



.CpuPokemonContainer{
  width: 100px;
  height: 150px;
  max-width:450px

}


















#CpuPokeImage img {
  display: block;
  margin-left: left;

  width: 40%;
  height: 50%;


}


.CpuStatus {

  width: 100px;
  height: 150px;
  max-width:450px
}
