/* This css file is soley for pokemon.html
additional information can be found here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div */



.statusLayoutProgress{
  width: 276px;
  height: 98px;


}



.statusLayoutProgress2{
  width: 276px;
  height: 98px;

}




.statusLayoutProgress3{
  width: 276px;
  height: 98px;

}





/*
update progress bar style here

*/

         /* progress bar for player1 HP*/

         .player1HP-progressBarBackground{
           background: black;
           padding: 3px;
           width: 100px;
         }

          .player1HP {
            width:100px;height:10px;
            background-color: #A6EDED;
            width: 0px;
           }


       /* speedbar for player1 */
          .playerSpeed-progressBarBackground{
          background: black;
          padding: 3px;
          width: 100px;
          }

          .playerSpeed {
              width:10px;height:10px;
              background-color: #A6EDED;
              width: 0px;
            }




            /* progress bar for computer HP*/

            .cpuHP-progressBarBackground{
              background: black;
              padding: 3px;
              width: 100px;
              }

            .cpuHP {
                width:100px;height:10px;
                background-color: #A6EDED;
                width: 0px;
              }


          /* speedbar for computer */

            .cpuSpeed-progressBarBackground{
              background: black;
              padding: 3px;
              width: 100px;
              }


              .cpuSpeed {
                  width:100px;height:10px;
                  background-color: #A6EDED;
                  width: 0px;
                }




.Player1Status {

  width: 100px;
  height: 150px;
  max-width:450px

}




.Player1PokemonContainer{
  width: 100px;
  height: 150px;
  max-width:450px

}

#Player1PokeImage img {
  display: block;
  margin-right: right;

  width: 100%;
  height: 100%;

}

.AttackGraphicContainer{
  width: 25px;
  height: 25px;
  max-width:100px

}


#player1AttackImage img {
  display: block;
  margin-right: right;

  width: 100%;
  height: 100%;


}

#computerAttackImage img {
  display: block;
  margin-right: right;

  width: 100%;
  height: 100%;


}

/*Pokemon head icons*/

#charmanderIcon{
  width: 19px;
  height: 24px;

}

#charmanderIcon{
  width: 19px;
  height: 24px;

}

#charmanderIcon{
  width: 19px;
  height: 24px;

}

#charmanderIcon{
  width: 19px;
  height: 24px;

}


/* pokemon logo */

#pokemon_logo {
  width: 110px;
  height: 73px;
  display:inline-block;

}

/* GreenAces logo */

#GreenAces-logo1{

  width: 201px;
  height: 200px;

}

#GreenAces-logo2{

  width: 201px;
  height: 200px;

}

#GreenAces-logo3{

  width: 201px;
  height: 200px;

}


/*the column menu that holds everything*/

#column1{


}

#column2{


}

#column3{


}

#column4{


}

#column5{


}


#column6{


}

#column7{


}


#column8{


}

#column9{


}


#column10{


}

#column11{


}

#column12{


}

#column13{


}

#column14{


}







/* main navbar sub-menu options */



/*w3 navbar*/

.dropbtn {
  background-color: #FFFFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 560px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #A9E2F3}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #A9E2F3;
}


/*google-navbar*/


body {
    margin: 0 0 55px 0;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 125%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;

}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}













/* main navbar menu options */

#attack-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#defense-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#select-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#settings-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}

#hamburger-menu-icon{
  width: 58px;
  height: 30px;
  display:inline-block;

}











.CpuPokemonContainer{
  width: 100px;
  height: 150px;
  max-width:450px

}





#CpuPokeImage img {
  display: block;
  margin-left: left;

  width: 40%;
  height: 50%;


}


.CpuStatus {

  width: 100px;
  height: 150px;
  max-width:450px
}
