/* This css file is soley for pokemon.html
additional information can be found here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div */

.statusLayout{
  width: 520px;
  height: 96px;
  background-color: purple;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;

}

.statusLayoutProgress{
  width: 530px;
  height: 26px;
  background-color: purple;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:530px

  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;

}



.statusLayoutProgress2{
  width: 530px;
  height: 26px;
  background-color: purple;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:530px

  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px yellow;
}




.statusLayoutProgress3{
  width: 530px;
  height: 26px;
  background-color: purple;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:530px

  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px green;
}



.div1 {

  height: 600px;
  width: 1370px;
  border: 10px solid orange;
  padding: 25px;
  margin: 25px;

}

#addTips {
  background-color: lightblue;
  max-width:500px
  border: 25px solid green;
  padding: 25px;
  margin: 25px;

    font-size: 15;
    text-align: left;
    display:inline-block;


}



.dropdownMenuTest {

  width: 580px;
  height: 205px;
  background-color: purple;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:583px
}


#PLY1 {
 font-style:oblique;
 text-shadow: 1px 1px 0 #FF0000;
}

#PLY1_2 {
 font-style:oblique;
 text-shadow: 1px 1px 0 #FF0000;
}

#COM{
 font-style:oblique;
 text-shadow: 1px 1px 0 #FFE4C4;
}



/*
update progress bar style here

*/

         /* progress bar for player1 HP*/

         .player1HP-progressBarBackground{
           background: black;
           padding: 3px;
           width: 100px;
         }

          .player1HP {
            width:100px;height:10px;
            background-color: #A6EDED;
            width: 100px;
           }


       /* speedbar for player1 -- not used*/
          .playerSpeed-progressBarBackground{
          background: black;
          padding: 3px;
          width: 100px;
          }

          .playerSpeed {
              width:10px;height:10px;
              background-color: #A6EDED;
              width: 100px;
            }




            /* progress bar for computer HP*/

            .cpuHP-progressBarBackground{
              background: black;
              padding: 3px;
              width: 100px;
              }

            .cpuHP {
                width:100px;height:10px;
                background-color: #A6EDED;
                width: 100px;
              }


          /* speedbar for computer -- not used*/

            .cpuSpeed-progressBarBackground{
              background: black;
              padding: 3px;
              width: 100px;
              }


              .cpuSpeed {
                  width:100px;height:10px;
                  background-color: #A6EDED;
                  width: 100px;
                }







.dropdownbtnA {
  width: 68px;
  height: 220px;
  background-color: gray;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width: 70px;
}

.dropbtnA {
  background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownbtnA {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 104px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownbtnA a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownbtnA a:hover {background-color: #f1f1f1}

.dropdownbtnA:hover .dropdown-content {
  display: block;
}

.dropdownbtnA:hover .dropbtn {
  background-color: #3e8e41;
}






.dropdownbtnB {
  width: 68px;
  height: 220px;
  background-color: gray;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:220px
}

.dropbtnB {
  background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownbtnB {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 104px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownbtnB a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownbtnB a:hover {background-color: #f1f1f1}

.dropdownbtnB:hover .dropdown-content {
  display: block;
}

.dropdownbtnB:hover .dropbtn {
  background-color: #3e8e41;
}







.dropdownChangePoke {
  width: 68px;
  height: 220px;
  background-color: gray;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:220px
}

.dropbtnD {
  background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownChangePoke {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 104px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownChangePoke a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownChangePoke a:hover {background-color: #f1f1f1}

.dropdownChangePoke:hover .dropdown-content {
  display: block;
}

.dropdownChangePoke:hover .dropbtn {
  background-color: #3e8e41;
}







.dropdownGameOpt {
  width: 68px;
  height: 220px;
  background-color: gray;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:220px
}

.dropbtnC {
  background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownGameOpt {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 104px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownGameOpt a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownGameOpt a:hover {background-color: #f1f1f1}

.dropdownGameOpt:hover .dropdown-content {
  display: block;
}

.dropdownGameOpt:hover .dropbtn {
  background-color: #3e8e41;
}










.dropdownGameOpt2 {
  width: 73px;
  height: 220px;
  background-color: gray;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width: 75px;
}

.dropbtnE {
  background-color: #4CAF50;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownGameOpt2 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 104px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownGameOpt2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownGameOpt2 a:hover {background-color: #f1f1f1}

.dropdownGameOpt2:hover .dropdown-content {
  display: block;
}

.dropdownGameOpt2:hover .dropbtn {
  background-color: #3e8e41;
}









.div2 {

  width: 1200px;
  height: 20px;
  background-color: lightblue;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  display:inline-block;
  max-width:1202px


}




.Player1Status {

  width: 100px;
  height: 150px;
  background-color: yellow;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  display:inline-block;
  max-width:450px

}




.Player1PokemonContainer{
  width: 100px;
  height: 150px;
  background-color: red;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  display:inline-block;
  max-width:450px

}

#Player1PokeImage img {
  display: block;
  margin-right: right;

  width: 100%;
  height: 100%;
  display:inline-block;
}

.AttackGraphicContainer{
  width: 25px;
  height: 25px;
  background-color: gray;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  display:inline-block;
  max-width:100px

}


#attack_graphic img {
  display: block;
  margin-right: right;

  width: 100%;
  height: 100%;
  display:inline-block;

}


.pokemonLogoLayout{
  width: 120px;
  height: 51px;
  background-color: white;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:120px
}


#pokemon_logo{
  width: 150px;
  height: 100px;
  display:inline-block;

}



.CpuPokemonContainer{
  width: 100px;
  height: 150px;
  background-color: pink;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  display:inline-block;
  max-width:450px

}

#CpuPokeImage img {
  display: block;
  margin-left: left;

  width: 40%;
  height: 50%;
  display:inline-block;

}


.CpuStatus{

  width: 100px;
  height: 150px;
  background-color: yellow;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  display:inline-block;
  max-width:450px
}


.div3 {

  width: 580px;
  height: 120px;
  background-color: purple;
  border: 10px solid green;
  padding: 5px;
  margin: 5px;
  display:inline-block;
  max-width:583px

}
