


.section {
    text-align: center;
    background-color: grey;
    height: 50vh;
    width: 100vw;
    position: center;
    height: -webkit-fill-available;

}

.h2{
    font-family: 'Lucida Sans';
    color: black;
}

.logo {
    height: 50vh;
    width: 50vw;
    position: center;
    text-align: center;
    height: -webkit-fill-available;
    
}

.text {
    text-align: center;
    color: #50e177;
  

}




