  /*carousel items on homepage */
  
  .carousel-indicators {
    background-color: green;
  }
  
  .carousel-inner {
    background-color: green;
  }
  
  
  
  
  /*Thumbnails on homepage*/
  
  .DiceImage-Logo {
    height: 200px;
    width: 200px;
    
  
  }
  
  .PikachuImage-Logo {
    height: 200px;
    width: 200px;
   
  
  }
  
  .DemoImage-Logo {
    height: 200px;
    width: 200px;
    
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  