form {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px; /* adds space at the bottom to avoid interfering with the footer */
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  p {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  label {
    margin-left: 10px;
  }
  
  input[type="radio"],
  textarea {
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  